.card { 
  height: 20px;
  padding: 2rem;
  border-radius: 10px; 
  border: 1px solid black;
  display: flex; 
  flex-direction: row;  
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
  transition: transform 0.2s; 
}

.card:hover {
  transform: translateX(4px); 
}

@media (max-width: 974px) { 
  .card {
    flex-direction: column; 
    height: 200px;  
    padding: 5px 5px; 
  }
}